KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/bootloader/boot.o \
$(ARCHDIR)/src/vga/tty.o \
$(ARCHDIR)/src/gdt/gdt.o \
$(ARCHDIR)/src/memory/malloc.o \
$(ARCHDIR)/src/memory/memutils.o \
$(ARCHDIR)/src/threading/pit.o \
$(ARCHDIR)/src/memory/pic.o \
$(ARCHDIR)/src/memory/hal.o \
$(ARCHDIR)/src/idt/idt.o \
$(ARCHDIR)/src/drivers/keyboard.o \
$(ARCHDIR)/src/threading/tasking.o \
$(ARCHDIR)/src/idt/exceptions.o \
$(ARCHDIR)/src/memory/paging.o \
$(ARCHDIR)/src/memory/mutex.o \
